/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--leona-bg);
    color: var(--leona-fg);
    font-family: roboto;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
}


.gh-header-text-container {
  /* width: 100%; */
  width: 80%;
  display: grid;
  grid-template-areas:
    'title   . date'
    'excerpt . .'
    'figcreds . length';
}

.gh-title {
  grid-area: title;
}

.gh-header-text-container > figcaption {
    grid-area: figcreds;
}

.gh-page {
    padding: 0 4vmin;
}

@media (max-width: 767px) {
    .gh-page {
        padding: 0;
    }
    .gh-main {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.gh-article {
    padding: 8vmin 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    /* Courtesy of https://stackoverflow.com/questions/14387690/how-can-i-show-only-corner-borders */
    --b: 2px;   /* thickness of the border */
    --c: var(--leona-detail);   /* color of the border */
    --w: 20px;  /* width of border */
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* border: 1px solid var(--leona-detail); */
    padding: 1em;
}

.gh-card-image {
    width: 10em;
    max-height: 250px;
    object-fit: cover;
    height: 10em;
    filter: brightness(50%);
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-title-bar {
    display: flex;
    justify-content: space-between;
}

.gh-card-title {
    font-size: large;
}

.gh-card-content {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset var(--leona-detail);
    opacity: 0.5;
}

.gh-card-read-more {
    color: var(--leona-fg);
}


.gh-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.gh-panel {
    background-color: var(--leona-bg-darker);
}

.gh-header-container {
    margin-bottom: 3em;
}

/* Hero
 * ----------------------------------------------------------
 */

.gh-hero {
    display: flex;
    gap: 10px;
    height: 20em;
    padding: 1em;
}

.gh-hero-dog-pic {
    width: 15em;
    height: 17em;
    object-fit: cover;

    --b: 2px;   /* thickness of the border */
    --c: var(--leona-warning);   /* color of the border */
    --w: 50px;  /* width of border */
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    padding: 0.5em;
}

.gh-hero-title {
    font-size: xx-large;
    font-weight: bold;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    --b: 2px;   /* thickness of the border */
    --c: var(--leona-detail);   /* color of the border */
    --w: 20px;  /* width of border */

    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1em;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
    text-align: right;
}

.gh-post-meta-date {
    grid-area: date;
}
.gh-post-meta-reading-time {
    grid-area: length;
}

.gh-excerpt {
  grid-area: excerpt;
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    max-height: 250px;
    max-width: 250px;
}

.gh-feature-image img {
    object-fit: cover;
    height: 10em;
    width: 10em;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
